fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
argon2-cffi
python-multipart
httpx
python-dotenv
requests
websockets
pydantic
pydantic[email]
cryptography
scikit-learn
pandas
numpy
