fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
httpx
python-dotenv
requests
websockets
pydantic
pydantic[email]
cryptography
argon2-cffi
